{"name":"toolsList","slug":"toolsList","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/splash-icon.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.minus.toolslist"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.minus.toolslist","edgeToEdgeEnabled":true,"permissions":["android.permission.RECORD_AUDIO"]},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"63841f11-fae5-4a37-bc63-b89dc689d3ae"}},"jsEngine":"hermes","plugins":[["expo-image-picker",{"photosPermission":"Приложению требуется доступ к фотографиям.","cameraPermission":"Приложению требуется доступ к камере."}],"expo-localization"],"sdkVersion":"54.0.0","platforms":["ios","android"]}